<a href="https://colab.research.google.com/github/sidnascimento/stock_investing/blob/main/Python_para_investimentos_Analise_fundamentalista.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. **Bibliotecas**

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import string
import warnings
import requests
warnings.filterwarnings('ignore')


# 2. Obtendo e tratando os dados

In [ ]:
#baixar os dados fundamentalistas das empresas

url = 'https://www.fundamentus.com.br/resultado.php'

#Informações para fingir ser um navegador
header = {
  "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.75 Safari/537.36",
  "X-Requested-With": "XMLHttpRequest"
}

#juntamos tudo com a requests
r = requests.get(url, headers=header)

df_tables = pd.read_html(r.text, decimal=',', thousands= '.')#pega a primeira tabela.
#df = pd.read_html(url,decimal=',', thousands='.')[0]#pega a primeira tabela.

In [ ]:
# copia apenas a tabela fundamentalista da pagina
df = df_tables[0].copy()

In [ ]:
#Trada os dados das colunas que estão em % na forma de texto
for coluna in ['Div.Yield','Mrg Ebit','Mrg. Líq.','ROIC','ROE','Cresc. Rec.5a']:
  df[coluna] = df[coluna].str.replace('.','')
  df[coluna] = df[coluna].str.replace(',','.')
  df[coluna] = df[coluna].str.rstrip('%').astype("float")/100

#Indicadores fundamentalistas

In [ ]:
#Indicadores fundamentalistas
for indicators in df.columns:
  print (indicators)

Papel
Cotação
P/L
P/VP
PSR
Div.Yield
P/Ativo
P/Cap.Giro
P/EBIT
P/Ativ Circ.Liq
EV/EBIT
EV/EBITDA
Mrg Ebit
Mrg. Líq.
Liq. Corr.
ROIC
ROE
Liq.2meses
Patrim. Líq
Dív.Brut/ Patrim.
Cresc. Rec.5a

In [ ]:
#['Papel', 'Cotação', 'P/L', 'P/VP', 'PSR', 'Div.Yield', 'P/Ativo','P/Cap.Giro', 'P/EBIT', 'P/Ativ Circ.Liq', 'EV/EBIT', 'EV/EBITDA','Mrg Ebit', 'Mrg. Líq.','Liq. Corr.', 'ROIC', 'ROE', 'Liq.2meses','Patrim. Líq', 'Dív.Brut/ Patrim.', 'Cresc. Rec.5a']
#['Papel', 'Cotação', 'P/L', 'P/VP', 'PSR', 'Div.Yield', 'P/Ativo','P/Cap.Giro',
# 'P/EBIT', 'P/Ativ Circ.Liq', 'EV/EBIT', 'EV/EBITDA','Mrg Ebit', 'Mrg. Líq.', 
#'Liq. Corr.', 'ROIC', 'ROE', 'Liq.2meses','Patrim. Líq', 'Dív.Brut/ Patrim.', 'Cresc. Rec.5a']

In [ ]:
print('Total de empresas analisadas ' + str(df.shape[0]))

Total de empresas analisadas 987

In [ ]:
Col_df = ['Cotação', 'P/L', 'P/VP', 'PSR', 'Div.Yield', 'P/Ativo','P/Cap.Giro', 'P/EBIT', 'P/Ativ Circ.Liq', 'EV/EBIT', 'EV/EBITDA','Mrg Ebit', 'Mrg. Líq.','Liq. Corr.', 'ROIC', 'ROE', 'Liq.2meses','Patrim. Líq', 'Dív.Brut/ Patrim.', 'Cresc. Rec.5a']
#df_Mm = pd.DataFrame(columns= Col_df, index=['min','max'])
df_Mm = pd.DataFrame(columns= ['min','max'], index=Col_df)
df_Mm['min'] = df[Col_df].min()
df_Mm['max'] = df[Col_df].max()
df_Mm

                            min           max
Cotação            0.000000e+00  1.008190e+04
P/L               -3.584820e+03  6.649650e+04
P/VP              -2.280000e+02  7.237080e+05
PSR               -2.005400e+01  1.267710e+05
Div.Yield          0.000000e+00  5.224500e+00
P/Ativo            0.000000e+00  7.218050e+02
P/Cap.Giro        -1.723120e+04  3.023010e+04
P/EBIT            -7.214410e+03  4.856800e+02
P/Ativ Circ.Liq   -5.209200e+02  2.407500e+02
EV/EBIT           -7.466350e+03  1.280810e+04
EV/EBITDA         -7.466350e+03  4.129170e+03
Mrg Ebit          -7.645430e+02  6.000180e+01
Mrg. Líq.         -1.399060e+03  2.296020e+03
Liq. Corr.         0.000000e+00  6.647000e+01
ROIC              -3.662700e+00  5.230100e+00
ROE               -8.246830e+01  1.363200e+04
Liq.2meses         0.000000e+00  3.182440e+09
Patrim. Líq       -2.172340e+10  3.724980e+11
Dív.Brut/ Patrim. -4.985000e+01  2.122700e+04
Cresc. Rec.5a     -8.703000e-01  6.354070e+01

In [ ]:
#Col_ind = ['P/L', 'P/VP', 'PSR', 'EV/EBITDA', 'ROIC', 'ROE', 'Liq.2meses','Patrim. Líq', 'Dív.Brut/ Patrim.', 'Cresc. Rec.5a']
#sns.pairplot(df[Col_ind])
df.describe()

,Cotação,P/L,P/VP,PSR,Div.Yield,P/Ativo,P/Cap.Giro,P/EBIT,P/Ativ Circ.Liq,EV/EBIT,EV/EBITDA,Mrg Ebit,Mrg. Líq.,Liq. Corr.,ROIC,ROE,Liq.2meses,Patrim. Líq,Dív.Brut/ Patrim.,Cresc. Rec.5a
count,987.000000,987.000000,987.000000,987.000000,987.000000,987.000000,987.000000,987.000000,987.000000,987.000000,987.000000,987.000000,987.000000,987.000000,987.000000,987.000000,9.870000e+02,9.870000e+02,987.000000,987.000000
mean,58.812847,75.411175,1462.992908,141.557250,0.036141,1.943279,18.352634,-15.087386,-1.656920,10.706292,-1.562553,-3.536952,-2.052781,1.877943,0.079916,27.540319,2.831675e+07,6.018828e+09,43.545836,0.249393
std,479.110746,2123.735900,31879.357455,4037.122146,0.210179,23.757668,1123.938859,283.061652,30.577179,647.290043,321.561010,36.587563,98.281316,4.383602,0.392891,613.347820,1.642530e+08,2.395510e+10,955.027723,2.873956
min,0.000000,-3584.820000,-228.000000,-20.054000,0.000000,0.000000,-17231.200000,-7214.410000,-520.920000,-7466.350000,-7466.350000,-764.543000,-1399.060000,0.000000,-3.662700,-82.468300,0.000000e+00,-2.172340e+10,-49.850000,-0.870300
25%,3.745000,-0.140000,0.110000,0.050000,0.000000,0.080000,0.000000,0.000000,-1.375000,0.000000,0.000000,0.000000,-0.010700,0.500000,0.000000,0.000000,0.000000e+00,1.213640e+08,0.000000,0.000000
50%,10.510000,4.120000,0.960000,0.562000,0.000000,0.351000,0.830000,2.520000,-0.150000,4.680000,3.920000,0.070700,0.027000,1.270000,0.060300,0.105300,0.000000e+00,1.063710e+09,0.260000,0.102700
75%,27.010000,11.780000,1.905000,1.610000,0.026200,0.799000,4.640000,7.845000,0.000000,10.700000,8.705000,0.188200,0.125800,2.050000,0.140800,0.215050,8.859465e+05,3.995850e+09,1.020000,0.206300
max,10081.900000,66496.500000,723708.000000,126771.000000,5.224500,721.805000,30230.100000,485.680000,240.750000,12808.100000,4129.170000,60.001800,2296.020000,66.470000,5.230100,13632.000000,3.182440e+09,3.724980e+11,21227.000000,63.540700

In [ ]:
Filter_table = {
    'Cotação':[0,200],
    'P/L':[0,1.00e+09],
    'P/VP':[0,1.00e+09],
    'PSR':[0,1.00e+09],
    'Div.Yield':[0,1.00e+09],
    'P/Ativo':[0,1.00e+09],
    'P/Cap.Giro':[0,1.00e+09],
    'P/EBIT':[0,1.00e+09],
    'P/Ativ Circ.Liq':[0,1.00e+09],
    'EV/EBIT':[0,1.00e+09],
    'EV/EBITDA':[0,1.00e+09],
    'Mrg Ebit':[0,1.00e+09],
    'Mrg. Líq.':[0,1.00e+09],
    'Liq. Corr.':[0,1.00e+09],
    'ROIC':[0,1.00e+09],
    'ROE':[0,1.00e+09],
    'Liq.2meses':[1.00e+06,1.00e+09],
    'Patrim. Líq':[0,1.00e+13],
    'Dív.Brut/ Patrim.':[0,1.00e+09],
    'Cresc. Rec.5a':[0,1.00e+09],
}

In [ ]:
df = df[(df['Liq.2meses']>1000000) & (df['Cotação']<50)]#filtra as empresas com maior liquidez#&(df['Patrim. Líq']>0)&(df['P/L']>0)&(df['EV/EBIT']>0)
df.shape

(239, 21)

In [ ]:
df.describe()

,Cotação,P/L,P/VP,PSR,Div.Yield,P/Ativo,P/Cap.Giro,P/EBIT,P/Ativ Circ.Liq,EV/EBIT,EV/EBITDA,Mrg Ebit,Mrg. Líq.,Liq. Corr.,ROIC,ROE,Liq.2meses,Patrim. Líq,Dív.Brut/ Patrim.,Cresc. Rec.5a
count,239.000000,239.000000,239.000000,239.000000,239.000000,239.000000,239.000000,239.000000,239.000000,239.000000,239.000000,239.000000,239.000000,239.000000,239.000000,239.000000,2.390000e+02,2.390000e+02,239.000000,239.000000
mean,12.803849,4.324644,1.460669,1.389477,0.074346,0.568992,134.764519,1.596987,1.844686,3.160293,0.085021,0.658840,0.487173,2.020753,0.115948,0.139808,1.015808e+08,1.544257e+10,0.981297,0.199470
std,10.436229,118.183823,1.494495,1.688115,0.344732,0.652008,1955.871945,51.311605,19.136023,50.551592,47.423512,5.467311,4.207182,1.558956,0.226345,0.263130,2.656170e+08,4.284637e+10,2.296066,0.379152
min,0.120000,-1342.870000,-1.700000,0.000000,0.000000,0.000000,-86.330000,-526.020000,-29.550000,-487.260000,-487.260000,-0.869800,-4.312900,0.000000,-1.236500,-1.162900,1.022460e+06,-2.172340e+10,-9.610000,-0.460900
25%,4.570000,2.590000,0.725000,0.326000,0.001850,0.222000,0.690000,1.695000,-1.700000,2.925000,2.690000,0.050150,0.000000,1.225000,0.031000,0.041600,5.796495e+06,1.141200e+09,0.210000,0.026600
50%,9.610000,6.610000,1.150000,0.781000,0.031600,0.377000,2.110000,4.910000,-0.690000,6.570000,5.070000,0.148000,0.069500,1.740000,0.092400,0.125700,2.221330e+07,3.710520e+09,0.610000,0.149600
75%,18.440000,13.570000,1.785000,1.696500,0.072750,0.711000,5.010000,9.935000,0.670000,12.320000,8.610000,0.246350,0.162900,2.350000,0.161950,0.206100,1.036962e+08,1.088305e+10,1.280000,0.259100
max,49.700000,953.160000,12.070000,9.561000,5.224500,5.675000,30230.100000,141.480000,240.750000,107.190000,77.120000,60.001800,45.924900,9.560000,2.311600,1.492100,3.182440e+09,3.724980e+11,23.220000,3.742700

In [ ]:
#Col_ind = ['Cotação','P/VP', 'PSR', 'EV/EBITDA', 'ROIC', 'ROE', 'Dív.Brut/ Patrim.', 'Cresc. Rec.5a']
#sns.pairplot(df[Col_ind])

In [ ]:
ranking = pd.DataFrame()
ranking['pos'] = range(1,151)
ranking['EV/EBIT'] = df[df['EV/EBIT']>0].sort_values(by = ['EV/EBIT'])['Papel'][:150].values
ranking['ROIC'] = df.sort_values(by = ['ROIC'], ascending = False)['Papel'][:150].values
#range(4)

In [ ]:
ranking

     pos EV/EBIT    ROIC
0      1   PSSA3  BRBI11
1      2   SHOW3   INEP3
2      3   INEP4   INEP4
3      4   INEP3   DMMO3
4      5   LVTC3   PSSA3
..   ...     ...     ...
145  146  IGTI11   SEER3
146  147   MULT3   BRIT3
147  148   YDUQ3   CRFB3
148  149   MTRE3   MELK3
149  150   VIVT3   ORVR3

[150 rows x 3 columns]

In [ ]:
a = ranking.pivot_table(columns='EV/EBIT', values='pos')

In [ ]:
b = ranking.pivot_table(columns='ROIC', values='pos')

In [ ]:
t = pd.concat([a,b])
t

,AERI3,AGRO3,ALSO3,ALUP11,AMAR3,AMBP3,ANIM3,ASAI3,AURA33,B3SA3,...,HYPE3,INTB3,LOGN3,MDIA3,ORVR3,RADL3,RDOR3,RENT3,VIVA3,WEGE3
pos,99,57,21.0,53,88,119,106,121,30,136,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
pos,130,34,NaN,87,119,111,141,68,19,53,...,100.0,54.0,82.0,135.0,150.0,91.0,115.0,132.0,70.0,26.0

In [ ]:
rank = t.dropna(axis=1).sum()
rank

AERI3     229
AGRO3      91
ALUP11    140
AMAR3     207
AMBP3     230
         ...
VLID3     138
VULC3     142
VVEO3     263
WIZS3      53
YDUQ3     293
Length: 135, dtype: int64

In [ ]:
rank.sort_values()[:20]#melhores empresas: empresas baratas mas solidas

INEP3      6
INEP4      6
PSSA3      6
BRBI11    10
SYNE3     15
TASA4     22
GOAU3     22
PETR4     24
GOAU4     24
PETR3     26
GGBR3     29
SHOW3     33
KEPL3     35
GGBR4     37
AURA33    49
PLPL3     51
WIZS3     53
FHER3     62
BRKM5     63
LVTC3     63
dtype: int64

In [ ]:
rank['BRKM5']

63